.checklist {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.checklist p {
    font-size: 13px;
}

.checklist p.success {
    color: var(--success-color);
}

.checklist p.error {
    color: var(--error-color);
}