.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContainer {
    width: 488px;
    background-color: var(--modal-bg-color);
    border-radius: 10px;
    max-height: 100vh;
    overflow-y: auto;
    padding: 44px;
    border: 2px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 36px;
    position: relative;
}

.closeBtn {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 16px;
    cursor: pointer;
}

@media (max-width: 700px) {
    .modalContainer {
      gap: 28px;
      padding: 44px 16px;
      width: 343px;
  }
}